/* Frontend */
body{
    margin : 0;
    font-family : Arial, sans-serif;
    background-color : #04304c;
    color : #fff;
    text-align : center;
    font-size : 50 px;
}





/*Section 3 --> Installation Guide*/
#install-guide{
    border: 2px solid black;
}